<div class="card mb-4 mt-4 user-profile">
    <div class="profile-header text-center">
        <img src="https://i.pinimg.com/236x/38/aa/95/38aa95f88d5f0fc3fc0f691abfaeaf0c.jpg" alt="User Profile"
            class="profile-img" />
        <h4 class="profile-name">{{ currentUserDetails.firstName }} {{ currentUserDetails.lastName }}</h4>
        <p class="profile-email">{{ currentUserDetails.email }}</p>
    </div>
    <div class="profile-body">
        <p class="profile-address"><b class="title-user"> Mobile : </b>{{ currentUserDetails.mobile }}</p>
        <p class="profile-address"><b class="title-user"> Gender : </b>{{ currentUserDetails.gender }}</p>
        <p class="profile-city">
            <b class="title-user"> City : </b>{{ currentUserDetails.city }}
        </p>
        <p class="profile-dob"> <b class="title-user">Date of Birth:</b> {{ currentUserDetails.dob | date: 'shortDate'
            }}</p>
            
            <p class="profile-address"><b class="title-user"> Address : </b>{{ currentUserDetails.address }}</p>
        <div class="profile-footer">
            <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>
</div>