<section style="padding-right: 2.5rem;">
  <div style="width: 35%;" class="mb-4">
    <input class="form-control me-2" type="search" placeholder="Search Todos" aria-label="Search" name="searchedInput"
      [(ngModel)]="searchedInput" (input)="filterTodo()">
  </div>
  
  @if(!isDataLoadingByApi){
  @if(completedTodos.length === 0){
    <div class="mt-4">
      <p style="text-align: center; font-size: x-large; color: tomato;">No data Found ⚠️ <br> ! Please add your Tasks to Todo
      </p>
    </div>
  }
  @if(noResultsFound){
  <div class="mt-4">
    <p style="text-align: center; font-size: x-large; color: tomato;"> ⚠️ No data Found for your search "<i class="ml-2 mr-2">{{searchedInput}}</i>"</p>
  </div>
  }
  @else {
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let todo" class="todo-id"> {{todo._id | slice : -3}} </td>
        </ng-container>
    
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let todo" class="todo-title"> {{todo.title}} </td>
        </ng-container>
    
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let todo" class="todo-date"> {{todo.date | date }} </td>
        </ng-container>
    
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let todo" [ngClass]="todo.status === 'Completed' ? 'completed-todo-status' : 'active-todo-status'"> {{todo.status}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    @if(completedTodos.length > 0){
      <!-- MatPaginator -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of todos">
      </mat-paginator>
      }
  }
  }
  @else { <app-spinner></app-spinner> }
</section>